In [5]:
import os
import glob
import pandas as pd
os.environ['THEANO_FLAGS']='device=cpu'
import pymc3 as pm
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import re

In [6]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [7]:
data=[]
for i in all_filenames:
    #combined_csv = pd.concat([pd.read_csv(f)])
    file=re.split("_",i)
    mode=re.split(".csv",file[1])
    mode=re.search("[0-9]",mode[0])
    
    #taking all the unique sample values i.e 519 and datapoint will have respective sample no in dataframe 
    sample=re.split(".csv",file[1])
    
    #creating a dataframe 
    dataframe=pd.read_csv(i)
    dataframe["mode"]=mode.group(0)
    dataframe["sample"]=sample[0].lstrip("0")
    
    #appending it to the list 
    data.append(dataframe)
data_final=pd.concat(data,ignore_index=True)
print (data_final.shape)

(1062912, 11)

In [9]:
data_final.tail()

,timestamp,pCut::Motor_Torque,pCut::CTRL_Position_controller::Lag_error,pCut::CTRL_Position_controller::Actual_position,pCut::CTRL_Position_controller::Actual_speed,pSvolFilm::CTRL_Position_controller::Actual_position,pSvolFilm::CTRL_Position_controller::Actual_speed,pSvolFilm::CTRL_Position_controller::Lag_error,pSpintor::VAX_speed,mode,sample
1062907,8.179999,0.369686,-1.367144,5530159,9352.111328,18877402,5212.163574,0.567995,1799.999756,4,493
1062908,8.183999,-0.330580,-0.919746,5530195,9094.619141,18877422,5144.211914,0.417207,1799.999756,4,493
1062909,8.187999,0.063502,-0.746151,5530231,9005.355469,18877443,5106.460449,0.341877,1799.999756,4,493
1062910,8.191999,-0.211253,-0.460982,5530267,8912.658203,18877463,5141.695312,0.400728,1799.999756,4,493
1062911,8.195999,-0.130315,-0.329030,5530303,8912.658203,18877484,5043.541992,0.366364,1799.999756,4,493

In [10]:
#export to csv
data_final.to_csv( "data_final.csv", index=False, encoding='utf-8-sig')

In [15]:
data_final.rename(columns={"pCut::Motor_Torque":"MT","pCut::CTRL_Position_controller::Lag_error": "Lag_error","pCut::CTRL_Position_controller::Actual_position" :"AP","pCut::CTRL_Position_controller::Actual_speed":"As","pSvolFilm::CTRL_Position_controller::Actual_position":"pAp","pSvolFilm::CTRL_Position_controller::Actual_speed":"pAs","pSvolFilm::CTRL_Position_controller::Lag_error":"ple","pSpintor::VAX_speed":"vax"},inplace=True)

In [16]:
data_final

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample
0,0.008000,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,81
1,0.012000,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,81
2,0.016000,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,81
3,0.020000,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,81
4,0.024000,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,81
...,...,...,...,...,...,...,...,...,...,...,...
1062907,8.179999,0.369686,-1.367144,5530159,9352.111328,18877402,5212.163574,0.567995,1799.999756,4,493
1062908,8.183999,-0.330580,-0.919746,5530195,9094.619141,18877422,5144.211914,0.417207,1799.999756,4,493
1062909,8.187999,0.063502,-0.746151,5530231,9005.355469,18877443,5106.460449,0.341877,1799.999756,4,493
1062910,8.191999,-0.211253,-0.460982,5530267,8912.658203,18877463,5141.695312,0.400728,1799.999756,4,493
1062911,8.195999,-0.130315,-0.329030,5530303,8912.658203,18877484,5043.541992,0.366364,1799.999756,4,493

In [18]:
def sample_edit(data):
        return "0"
data_final["sample"].loc[0:2048]=data_final["sample"].head(2048).apply(sample_edit)

/Users/RishJain04/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
data_final["mode"].value_counts()

2    204800
3    204800
1    204800
0    204800
4    204800
5     38912
Name: mode, dtype: int64

In [20]:
data_final.groupby(["sample","mode"]).size().groupby("mode").count()

mode
0    100
1    100
2    100
3    100
4    100
5     19
dtype: int64

In [23]:
data_final["sample"].nunique()

519

In [24]:
data_final.fillna(method="backfill",inplace=True)
data_final["mode"]=data_final["mode"].astype("int32")

In [25]:
all_sample=np.unique(data_final["sample"].values)
all_sample

array(['', '0', '1', '10', '100', '101', '102', '103', '104', '105',
       '106', '107', '108', '109', '11', '110', '111', '112', '113',
       '114', '115', '116', '117', '118', '119', '12', '120', '121',
       '122', '123', '124', '125', '126', '127', '128', '129', '13',
       '130', '131', '132', '133', '134', '135', '136', '137', '138',
       '139', '14', '140', '141', '142', '143', '144', '145', '146',
       '147', '148', '149', '15', '150', '151', '152', '153', '154',
       '155', '156', '157', '158', '159', '16', '160', '161', '162',
       '163', '164', '165', '166', '167', '168', '169', '17', '170',
       '171', '172', '173', '174', '175', '176', '177', '178', '179',
       '18', '180', '181', '182', '183', '184', '185', '186', '187',
       '188', '189', '19', '190', '191', '192', '193', '194', '195',
       '196', '197', '198', '199', '2', '20', '200', '201', '202', '203',
       '204', '205', '206', '207', '208', '209', '21', '210', '211',
       '212', '213', '214', '215', '216', '217', '218', '219', '22',
       '220', '221', '222', '223', '224', '225', '226', '227', '228',
       '229', '23', '230', '231', '232', '233', '234', '235', '236',
       '237', '238', '239', '24', '240', '241', '242', '243', '244',
       '245', '246', '247', '248', '249', '25', '250', '251', '252',
       '253', '254', '255', '256', '257', '258', '259', '26', '260',
       '261', '262', '263', '264', '265', '266', '267', '268', '269',
       '27', '270', '271', '272', '273', '274', '275', '276', '277',
       '278', '279', '28', '280', '281', '282', '283', '284', '285',
       '286', '287', '288', '289', '29', '290', '291', '292', '293',
       '294', '295', '296', '297', '298', '299', '3', '30', '300', '301',
       '302', '303', '304', '305', '306', '307', '308', '309', '31',
       '310', '311', '312', '313', '314', '315', '316', '317', '318',
       '319', '32', '320', '321', '322', '323', '324', '325', '326',
       '327', '328', '329', '33', '330', '331', '332', '333', '334',
       '335', '336', '337', '338', '339', '34', '340', '341', '342',
       '343', '344', '345', '346', '347', '348', '349', '35', '350',
       '351', '352', '353', '354', '355', '356', '357', '358', '359',
       '36', '360', '361', '362', '363', '364', '365', '366', '367',
       '368', '369', '37', '370', '371', '372', '373', '374', '375',
       '376', '377', '378', '379', '38', '380', '381', '382', '383',
       '384', '385', '386', '387', '388', '389', '39', '390', '391',
       '392', '393', '394', '395', '396', '397', '398', '399', '4', '40',
       '400', '401', '402', '403', '404', '405', '406', '407', '408',
       '409', '41', '410', '411', '412', '413', '414', '415', '416',
       '417', '418', '419', '42', '420', '421', '422', '423', '424',
       '425', '426', '427', '428', '429', '43', '430', '431', '432',
       '433', '434', '435', '436', '437', '438', '439', '44', '440',
       '441', '442', '443', '444', '445', '446', '447', '448', '449',
       '45', '450', '451', '452', '453', '454', '455', '456', '457',
       '458', '459', '46', '460', '461', '462', '463', '464', '465',
       '466', '467', '468', '469', '47', '470', '471', '472', '473',
       '474', '475', '476', '477', '478', '479', '48', '480', '481',
       '482', '483', '484', '485', '486', '487', '488', '489', '49',
       '490', '491', '492', '493', '494', '495', '496', '497', '498',
       '499', '5', '50', '500', '501', '502', '503', '504', '505', '506',
       '507', '508', '509', '51', '510', '511', '512', '513', '514',
       '515', '516', '517', '518', '52', '53', '54', '55', '56', '57',
       '58', '59', '6', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '8', '80', '82', '83', '84', '85', '86', '87', '88',
       '89', '9', '90', '91', '92', '93', '94', '95', '96', '97', '98',
       '99'], dtype=object)

In [26]:
data_final=data_final.assign(cycle=" ")
data_final.head()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0,
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0,
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0,
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0,
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0,

In [31]:
for i in all_sample:
    i=i
    cycle=0
    for row in data_final.itertuples():
        sample=row[11]
        index=row[0]
        if i==sample:
            cycle +=1
            data_final.at[index,"cycle"]=cycle

In [32]:
data_final.head()

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0,1
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0,2
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0,3
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0,4
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0,5

In [33]:
rul = pd.DataFrame(data_final.groupby('mode')['cycle'].max()).reset_index()
rul.columns = ['mode', 'max']
print (rul.head())
data_final = data_final.merge(rul, on=['mode'], how='left')
data_final['RUL'] =data_final['max'] - data_final['cycle']
data_final.drop('max', axis=1, inplace=True)
data_final.head()

   mode   max
0     0  2048
1     1  2048
2     2  2048
3     3  2048
4     4  2048

,timestamp,MT,Lag_error,AP,As,pAp,pAs,ple,vax,mode,sample,cycle,RUL
0,0.008,0.670726,-0.050846,939333465,-6674.194336,409999463,12294.263672,1.043955,2699.999512,0,0,1,2047
1,0.012,0.456506,0.003138,939333438,-6794.356934,409999513,12269.095703,1.066463,2699.999512,0,0,2,2046
2,0.016,0.520841,0.005510,939333411,-6749.725098,409999562,12261.545898,1.120736,2699.999512,0,0,3,2045
3,0.020,0.568736,-0.028143,939333384,-6780.624023,409999611,12286.712891,1.180041,2699.999512,0,0,4,2044
4,0.024,0.576378,-0.028126,939333357,-6763.458008,409999661,12281.679688,1.163287,2699.999512,0,0,5,2043

In [34]:
data_final.to_csv( "data.csv", index=False, encoding='utf-8-sig')